.layout {
  width: 595px;
  height: 405.502px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.3);
}

.headerContainer {
  width: 595px;
  height: 77.437px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: #d0f7fa;
  padding: 26.5px 32px;
}

.header {
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%; /* 28.5px */
}

.uploaderContainer {
  width: 512px;
  height: 210px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px dashed #000;
  box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image{
    width: 100%;
height: 320px;
border-radius: 20px 20px 0px 0px;
}

.deleteText{
    color: #A80000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 160% */
letter-spacing: -0.09px;
}
