.type {
  color: #979797;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 159.5%; /* 22.33px */
  margin-bottom: 4px;
}

.question {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%; /* 22.8px */
}

.input {
  width: 509px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 159.5%; /* 22.33px */
  padding: 23px 26px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.delete {
  color: #a80000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: -0.09px;
}

.btn {
  width: 59px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #087b2f;
  color: #f4fbf7;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
